doctype
html
	head
		title= title

		link(rel="stylesheet",
		     href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css",
		     integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7",
		     crossorigin="anonymous")

		link(rel="stylesheet",
		     href="/style/main.css")

		script(type="text/javascript", src="https://code.jquery.com/jquery-3.3.1.min.js")

		nav(class="navbar navbar-inverse navbar-default navbar-fixed-top")
			div(class="container")
				div(class="navbar-header")
					button(type="button",
					       class="navbar-toggle collapsed",
					       data-toggle="collapse",
					       data-target="#navbar-collapse-1",
					       aria-expanded="false")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand",
					  href="#")
						span(class="logoText")

				div(class="collapse navbar-collapse",
				    id="navbar-collapse-1")
					ul(class="nav navbar-nav navbar-fixed-top")
						li
							a(href="/") Home
						if (!username || (username === ''))
							li
								a(href="/login") Login
							li
								a(href="/register") Sign Up
						else
							li
								a(href="/logout") Log Out

	body
		block content
	footer
		p Copyright 2018 My NHL Team - Lombardo Patel
